@font-face {
  font-family: TruenoLt;
  src: url(../fonts/truenolt.woff) format("woff");
}

@font-face {
  font-family: TruenoUltBlk;
  src: url(../fonts/truenoultblk.woff) format("woff");
}

@font-face {
  font-family: Truenobd;
  src: url(../fonts/truenobd.woff) format("woff");
}
